MyWebServiceSOAP/WebContent/wsdl/Calculadora.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.g2.starters.gft.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.g2.starters.gft.com" xmlns:intf="http://service.g2.starters.gft.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.g2.starters.gft.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="division">
    <complexType>
     <sequence>
      <element name="operador1" type="xsd:double"/>
      <element name="operador2" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="divisionResponse">
    <complexType>
     <sequence>
      <element name="divisionReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="resta">
    <complexType>
     <sequence>
      <element name="operador1" type="xsd:double"/>
      <element name="operador2" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="restaResponse">
    <complexType>
     <sequence>
      <element name="restaReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="multiplicacion">
    <complexType>
     <sequence>
      <element name="operador1" type="xsd:double"/>
      <element name="operador2" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="multiplicacionResponse">
    <complexType>
     <sequence>
      <element name="multiplicacionReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="suma">
    <complexType>
     <sequence>
      <element name="operador1" type="xsd:double"/>
      <element name="operador2" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="sumaResponse">
    <complexType>
     <sequence>
      <element name="sumaReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="multiplicacionRequest">

      <wsdl:part element="impl:multiplicacion" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sumaRequest">

      <wsdl:part element="impl:suma" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sumaResponse">

      <wsdl:part element="impl:sumaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="divisionResponse">

      <wsdl:part element="impl:divisionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="multiplicacionResponse">

      <wsdl:part element="impl:multiplicacionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="divisionRequest">

      <wsdl:part element="impl:division" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="restaRequest">

      <wsdl:part element="impl:resta" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="restaResponse">

      <wsdl:part element="impl:restaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Calculadora">

      <wsdl:operation name="division">

         <wsdl:input message="impl:divisionRequest" name="divisionRequest">

       </wsdl:input>

         <wsdl:output message="impl:divisionResponse" name="divisionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="resta">

         <wsdl:input message="impl:restaRequest" name="restaRequest">

       </wsdl:input>

         <wsdl:output message="impl:restaResponse" name="restaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="multiplicacion">

         <wsdl:input message="impl:multiplicacionRequest" name="multiplicacionRequest">

       </wsdl:input>

         <wsdl:output message="impl:multiplicacionResponse" name="multiplicacionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="suma">

         <wsdl:input message="impl:sumaRequest" name="sumaRequest">

       </wsdl:input>

         <wsdl:output message="impl:sumaResponse" name="sumaResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CalculadoraSoapBinding" type="impl:Calculadora">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="division">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="divisionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="divisionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="resta">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="restaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="restaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="multiplicacion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="multiplicacionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="multiplicacionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="suma">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sumaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sumaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CalculadoraService">

      <wsdl:port binding="impl:CalculadoraSoapBinding" name="Calculadora">

         <wsdlsoap:address location="http://localhost:8080/MyWebServiceSOAP/services/Calculadora"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
